# Maven / Java
target/
*.iml
.idea/
*.log
*.class
*.war
*.ear

# Spring Boot devtools tmp
.spring-*

# Node / React
node_modules/
build/
dist/
.cache/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json


# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
